<aside class="w-70 bg-[#E8EBFA] text-white flex flex-col items-center pt-2 flex-shrink-0">
  <div class="sidebar-icon flex flex-col items-center cursor-pointer p-2" onclick="selectComponent(this)">
    <i class="fas fa-bell text-2xl text-black"></i>
    <span class="text-xs mt-1 text-black">Activity</span>
  </div>
  <div class="sidebar-icon flex flex-col items-center cursor-pointer p-2" onclick="selectComponent(this)">
    <i class="fas fa-comment text-2xl text-black"></i>
    <span class="text-xs mt-1 text-black">Chat</span>
  </div>
  <div class="sidebar-icon flex flex-col items-center cursor-pointer p-2" onclick="selectComponent(this)">
    <i class="fas fa-users text-2xl text-black"></i>
    <span class="text-xs mt-1 text-black">Teams</span>
  </div>
  <div class="sidebar-icon flex flex-col items-center cursor-pointer p-2" onclick="selectComponent(this)">
    <i class="fas fa-calendar text-2xl text-black"></i>
    <span class="text-xs mt-1 text-black">Calendar</span>
  </div>
  <div class="sidebar-icon flex flex-col items-center cursor-pointer p-2" onclick="selectComponent(this)">
    <i class="fas fa-phone text-2xl text-black"></i>
    <span class="text-xs mt-1 text-black">Calls</span>
  </div>
  <div class="sidebar-icon flex flex-col items-center cursor-pointer p-2" onclick="selectComponent(this)">
    <i class="fas fa-file text-2xl text-black"></i>
    <span class="text-xs mt-1 text-black">Files</span>
  </div>
  <div class="sidebar-icon flex flex-col items-center cursor-pointer active p-2" onclick="selectComponent(this)">
    <i class="fas fa-building text-2xl text-black"></i>
    <span class="text-xs mt-1 text-black">Contoso</span>
  </div>
  <div class="sidebar-icon flex flex-col items-center cursor-pointer p-2" onclick="selectComponent(this)">
    <i class="fas fa-th text-2xl text-black"></i>
    <span class="text-xs mt-1 text-black">Apps</span>
  </div>
</aside>
