<div
  class="flex justify-between items-center bg-[#E8EBFA] text-[white] px-[12px] py-[5px] border-b-[1px_solid_#E4EDF3] h-[40px]"
>
  <div class="logo text-[18px] font-bold mr-[20px] flex items-center">
    <img
      src="assets/images/icons/teams_logo.png"
      alt="Microsoft Logo"
      class="h-full"
    />
  </div>
  <div
    class="search-bar flex items-center bg-white rounded-md px-3 py-1 mx-10 relative w-96"
  >
    <input
      type="text"
      placeholder="Search"
      class="bg-transparent border-none focus:outline-none flex-grow px-2"
    />
    <a href="https://www.google.com" target="_blank">
      <i class="fas fa-search text-gray-500 ml-2 cursor-pointer"></i>
    </a>
  </div>

  <div class="user-profile flex items-center ml-[20px]">
    <a href="https://www.google.com" target="_blank">
      <i class="fas fa-user-circle text-[20px] text-[#2f2f2f]"></i>
    </a>
  </div>
</div>
